.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.just-center {
  justify-content: center;
}
.container-column {
  width: 800px;
}

.explain {
  background-color: rgb(228, 226, 226);
  position: relative;
  padding-left: 20px; /* Space for the darker section */
  padding-top: 5px;
  padding-bottom: 5px;

  p {
    font-size: 14px;
  }
}
.explain::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px; /* Width of the darker section */
  background-color: rgb(150, 150, 150); /* Darker gray */
}

.input-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
